@import "../../styles.scss";

a {
    text-decoration: none;
    color: $white;
    font-size: 15px;
    font-family: $secondary_font;
}

header {
    background-image: url("../../assets/images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 620px;

    h1 {
        color: $white;
        font-weight: 900;
        font-size: 55px;
        letter-spacing: 5px;
        padding: 20px;
        text-align: center;
        margin-top: 40px;
    }
}

.main-nav {
    width: 100%;
    height: 80px;
    background-color: $main_bg_color;
    padding: 20px 50px;

    display: grid;
    grid-template-columns: 1fr 2fr;
}

.area-brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
    height: 100%;
}

.area-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.link-menu {
    display: inline-block;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-contact {
    background-color: $white;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    color: #000;
    text-transform: uppercase;
    font-family: $main_font;
    font-weight: 900;
    font-size: 14px;
}

.button-contact:hover {
    background-color: #000;
    color: $white;
    transition: all 1s;
}

#text-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#arrow {
    width: 30px;
    height: 100px;
    position: absolute;
    top: 200px;
}

/* ==== RESPONSIVE LAYOUT ==== */
.icon-hamburger {
    width: 30px;
    height: 30px;
    background: url("../../assets/images/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

@media screen and (max-width: 600px) {
    .icon-hamburger {
        display: inline-block;
    }

    .menu-nav {
        display: none;
    }

    .area-icon {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}