<div class="container-fluid">
    <header>
        <nav class="main-nav">
            <div class="area-brand">
                <a href="#" class="brand">sunnyside</a>
            </div>

            <div class="menu-nav">
                <div class="area-links">
                    <a href="#" class="link-menu">About</a>
                    <a href="#" class="link-menu">Services</a>
                    <a href="#" class="link-menu">Projects</a>
                    <a href="#" class="button-contact">Contact</a>
                </div>
            </div>
        </nav>

        <h1>WE ARE CREATIVES</h1>
    </header>
</div>