<footer id="footer">

    <div id="content-footer">
        <div class="grid-center">
            <a href="#" class="brand">
                sunnyside
            </a>
        </div>
        <div class="grid-center" id="links-footer">
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Projects</a>
        </div>
        <div class="grid-center" id="social-icons">
            <a href="#">
                <img src="../../assets/images/icon-facebook.svg" alt="icon Facebook">
            </a>
            <a href="#">
                <img src="../../assets/images/icon-instagram.svg" alt="icon Instagram">
            </a>
            <a href="#">
                <img src="../../assets/images/icon-twitter.svg" alt="icon Twitter">
            </a>
            <a href="#">
                <img src="../../assets/images/icon-pinterest.svg" alt="icon Pinterest">
            </a>
        </div>
    </div>


<!--
    <div id="footer-content">
        <a href="#" class="brand">
            sunnyside
        </a>

        <div class="links-footer">
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Projects</a>
        </div>

        <div class="social-icons">
            <a href="#">
                <img src="../../assets/images/icon-facebook.svg" alt="icon Facebook">
            </a>
            <a href="#">
                <img src="../../assets/images/icon-instagram.svg" alt="icon Instagram">
            </a>
            <a href="#">
                <img src="../../assets/images/icon-twitter.svg" alt="icon Twitter">
            </a>
            <a href="#">
                <img src="../../assets/images/icon-pinterest.svg" alt="icon Pinterest">
            </a>
        </div>
    </div>
-->
</footer>