@import "../../styles.scss";

/* ==== ÁREA DA GALERIA COM 4 IMAGENS ==== */
#gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 350px;
}

/* ==== CADA IMAGEM SEPARADA ==== */
.item-gallery {
    height: 350px;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}

/* ==== RESPONSIVE LAYOUT ==== */
@media screen and (max-width: 600px) {
    #gallery {
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
    }
}