@import "../../styles.scss";

/* ==== ÁREA DA GALERIA COM 4 IMAGENS ==== */
#gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 350px;
}

/* ==== CADA IMAGEM SEPARADA ==== */
.item-gallery {
    height: 100%;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}