<section id="gallery">
    <div class="item-gallery">
        <img src="../../assets/images/desktop/image-gallery-milkbottles.jpg" alt="milk"/>
    </div>

    <div class="item-gallery">
        <img src="../../assets/images/desktop/image-gallery-orange.jpg" alt="orange"/>
    </div>

    <div class="item-gallery">
        <img src="../../assets/images/desktop/image-gallery-cone.jpg" alt="cone"/>
    </div>
    
    <div class="item-gallery">
        <img src="../../assets/images/desktop/image-gallery-sugarcubes.jpg" alt="sugar cubes"/>
    </div>
</section>