<section class="categories">
    <div class="item-category">
        <div class="text-content">
            <h2 class="space">Transform your brand</h2>
            <p class="space">
                We are full-service creative agency specializing in helping brands grow fast.
                Engage your clients through compeling visuals that do most of the marketing for you.
            </p>

            <a href="#" class="space">
                <h4 class="link-more">LEARN MORE</h4>
            </a>
        </div>
    </div>

    <div class="item-category">
        <img src="../../assets/images/desktop/image-transform.jpg" alt=""/>
    </div>

    <div class="item-category">
        <img src="../../assets/images/desktop/image-stand-out.jpg" alt=""/>
    </div>

    <div class="item-category">
        <div class="text-content">
            <h2 class="space">Stand out to the right audience</h2>
            <p class="space">
                Using a collaborative formula of designers researchers,
                photographers, videographers and copywriters, we'll
                build and extend brand in digital places.
            </p>

            <a href="#" class="space">
                <h4 class="link-more">LEARN MORE</h4>
            </a>
        </div>
    </div>

    <div class="item-category design-category">
        <div class="text-content special-text">
            <h4 class="space">Graphic Design</h4>
            <p class="space">
                Great design makes you memorable. We deliver
                artwork that underscores your brand message
                and captures potential clients attention.
            </p>
        </div>
    </div>

    <div class="item-category photography-category">
        <div class="text-content special-text">
            <h4 class="space">Photography</h4>
            <p class="space">
                Increase your credibility by getting the most
                stunning, high-quality photos that improve your
                business image.
            </p>
        </div>
    </div>
</section>