<section id="testimonials">
    <div class="area-text">
        <h5>CLIENT TESTIMONIALS</h5>
    </div>

    <div class="container-testimonial">
        
        <div class="testimonial-card">
            
            <div class="box-image">
                <img src="../../assets/images/image-emily.jpg" alt="image Emily">
            </div>
            <p class="comment">
                We put our trust in Sunnyside and they delivered, making sure our needs
                were met and deadlines were always hit.
            </p>
        
            <div class="box-name">
                <h6>Emily R.</h6>
                <p>Marketing Director</p>
            </div>
        
        </div>
        
        <div class="testimonial-card">
            <div class="box-image">
                <img src="../../assets/images/image-thomas.jpg" alt="image Thomas">
            </div>
            <p class="comment">
                Sunnyside's enthusiasm coupled with their keen interest in our brand's
                success made it a satisfying and enjoyable experience.
            </p>
        
            <div class="box-name">
                <h6>Thomas S.</h6>
                <p>Chied Operating Officer</p>
            </div>
        </div>
        
        <div class="testimonial-card">
            <div class="box-image">
                <img src="../../assets/images/image-jennie.jpg" alt="image Jennie">
            </div>
            <p class="comment">
                Incredible end result! Our sales increased over 400% when we worked with
                Sunnyside. Highly recommended!
            </p>
        
            <div class="box-name">
                <h6>Jennie F.</h6>
                <p>Business Owner</p>
            </div>
        </div>

    </div>

</section>